# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environment directories
venv/
env/
.env

# Log files
logs/*.log

# Distribution / packaging
dist/
build/
*.egg-info/

# IDE files
.idea/
.vscode/
*.swp
*.swo

# Local configuration
.env